html {
    height:100%;
}
body {
    background-color: #2F3035;
    background-image:url(images/background-adare-restaurant.jpg);
    /* background-repeat: no-repeat; */
    background-size:cover;
    background-position: center;
    
}
.container {
    width:1024px;
    margin-left:auto;
    margin-right:auto;
}
header {
    /* background-color:skyblue; */
    height: 118px;
}
img {
    margin-left:auto;
    margin-right:auto;
}
nav {
    background-color:rgba(0, 0, 0, 0.195);
    height:30px;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 10px; */
}
nav a {
    text-decoration: none;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}
main {
    /* height: 500px; */
    /* background-color:orange; */
    text-align:center;
    padding-top: 84px;
    padding-left:240px;
    padding-right:240px;
}
h1 {
    font-size: 100px;
    color:whitesmoke
}
p {
    font-size:25px;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.map {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
}
div iframe {
    padding-top: 20px;
    padding-bottom: 30px;
}
a {
    padding-top:30px;
    padding-bottom: 20px;
    color:white;
}

footer {
    background-color:rgba(0, 0, 0, 0.462);
    height:120px;
}
footer p {
    /* background-color: aquamarine; */
    font-size: 15px;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center  ;
    padding-top:5%;
}